.container-height{ 
height:90%; 
}

.full-page{
	height:90%;
}

body{ 
background-color: white;
 }

 .nav{
background-color: white
}

 .nav-color{
	color: #f2b632;
}

.fullpage{
	height:100%;
}

.vcenter{
	margin-top:auto;
	margin-bottom: auto;
}

h1{
	display: block;
    font-size: 8em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: oblique;
	color: #431c5d; 
}

.hidden {
	opacity: 0
	}
